homedir/.vim/view
homedir/.vim/bundle/*
!homedir/.vim/bundle/Vundle.vim
*.pyc
homedir/.ncmpcpp/error.log
homedir/.ncmpcpp/patterns.list
configdir/ranger/bookmarks
configdir/ranger/history
configdir/ranger/tagged
configdir/awesome/layoutconfig.lua
