[submodule "homedir/.vim/bundle/vundle"]
	path = homedir/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "configdir/awesome/vicious"]
	path = configdir/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "configdir/awesome/lain"]
	path = configdir/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "configdir/awesome/treetile"]
	path = configdir/awesome/treetile
	url = https://github.com/guotsuan/awesome-treetile
[submodule "configdir/awesome/freedesktop"]
	path = configdir/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
