priority 0

snippet for "for loop" b
for (int ${1:i} = 0; $1 < ${2:10}; ++$1)
{
	${VISUAL}$0
}
endsnippet

snippet forr "for loop (reverse)" b
for (int ${1:i} = ${2:10}; $1 >= 0; --$1)
{
	${VISUAL}$0
}
endsnippet
