/*AGENT_SHEET*/@namespace url(http://www.w3.org/1999/xhtml);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/** Fixes the panel height **/  
#PanelUI-popup .panelUI-grid.customization-target { 
    max-height: unset !important; 
}

/** Shrinks the icon Size **
#PanelUI-contents toolbarbutton .toolbarbutton-icon,
#customization-panel-container toolbarpaletteitem .toolbarbutton-icon {
    transform: scale(1.0) !important; 
}

/** Hides the sync button **
#PanelUI-fxa-status { 
    display: none !important; 
} **/

/** Shrinks the button box and font size **/
#customization-panel-container .panel-arrowcontent :-moz-any(.toolbarbutton-1.chromeclass-toolbar-additional,.toolbarbutton-1),
#PanelUI-popup :-moz-any(.toolbarbutton-1.chromeclass-toolbar-additional,.toolbarbutton-1),
#PanelUI-popup toolbaritem[cui-areatype="menu-panel"][sdkstylewidget="true"]:not(.panel-wide-item) { 
    font-size: 90% !important;
    margin: 0.25em !important;
    padding: 0em !important; 
}
/** Corrects font size from previous setting **/
#customization-panel-container toolbarpaletteitem toolbarbutton:not(.panel-combined-button) :-moz-any(.toolbarbutton-text,.toolbarbutton-multiline-text),
#PanelUI-contents toolbarbutton:not(.panel-combined-button) :-moz-any(.toolbarbutton-text,.toolbarbutton-multiline-text) {
    margin:  0em -.2em -.5em -.2em !important;
    font-size: 110% !important; 
}
