/* ==UserStyle==
@name compact youtube
@namespace github.com/openstyles/stylus
@version 1.0.0
@description makes youtube's subscription grid view more compact
@author Me
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
/* Smaller subscription thumbnails */
ytd-rich-grid-renderer {
  --ytd-rich-grid-items-per-row: 6 !important;
  --ytd-rich-grid-posts-per-row: 6 !important;
  --ytd-rich-grid-slim-items-per-row: 6 !important;
  --ytd-rich-grid-game-cards-per-row: 6 !important;
  --ytd-rich-grid-mini-game-cards-per-row: 6 !important;
}

/* Hide shorts */
#dismissible.ytd-rich-shelf-renderer {
    display: none !important;
}
}
