/* ==UserStyle==
@name           compact youtube
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    makes youtube's grid view more compact
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
    :root {
        --compactwidth: 165px;
    }

    #items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer {
        width: var(--compactwidth) !important;
        margin-bottom: 12px !important;
        margin-right: 10px !important;
    }

    ytd-browse[guide-persistent-and-visible] ytd-two-column-browse-results-renderer.ytd-browse {
        width: 85% !important;
    }

    #items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer ytd-thumbnail {
        width: var(--compactwidth) !important;
    }

    ytd-thumbnail.ytd-grid-video-renderer {
        height: 85px !important;
    }

    h3.ytd-grid-video-renderer {
        margin: 3px 0 3px !important;
    }

    #metadata-line.ytd-grid-video-renderer {
        display: none !important;
    }

    #meta.ytd-grid-video-renderer {
        padding-right: 0px !important;
    }

    ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer
    {
        max-height: none !important;
    }
}
