:root {
    --fontsize: 12px;
    /* --fontsize: 16px; */
    /* --tabsize: 24px; */
    --tabsize: 27px;
    --tabwidth: 150px;
    --color-bg: #222222;
    --color-gray: #444444;
    --color-fg: #aaaaaa;
    --color-active: #535D6C;
    --color-fg-active: #ffffff;
    --color-urlbar-bg: #333333;
    --color-urlbar-fg: #bbbbbb;
}

/* Main colors */
#main-window, #browser-bottombox, #urlbar, #nav-bar, #TabsToolbar, #navigator-toolbox, #toolbar-menubar,
#browser-panel, #tab-view-deck, #tabbrowser-tabs, .tabbrowser-arrowscrollbox {
    background: var(--color-bg) !important;
    color: var(--color-fg) !important;
    box-shadow: none !important;
}

/* font */
.tabbrowser-tab .tab-text, #urlbar {
    font-size: var(--fontsize) !important;
}

/* Tabs {{{ */
#TabsToolbar, #tabbrowser-tabs, .tabbrowser-tab, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, .tab-content {
    min-height: var(--tabsize) !important;
    max-height: var(--tabsize) !important;
}


.tabbrowser-tab {
    padding-inline: 0 !important;
    min-width: var(--tabwidth) !important;    /* tab width */
}

.tab-background {
    background: var(--color-bg) !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.tabbrowser-tab:hover .tab-background {
    background: var(--color-gray) !important;
}

.tabbrowser-tab:hover {
    color: var(--color-fg-active) !important;
}

.tabbrowser-tab[selected=true] .tab-background {
    background: var(--color-active) !important;
    color: var(--color-fg-active) !important;
}

/* hide alltabs button and tab scroll arrows */
/* the position of this rule in the file actually matters for some reason */
#alltabs-button, #scrollbutton-up, #scrollbutton-down {
    display: none !important;
}

/* }}} */



/* navbar {{{ */

#urlbar-background {
    border: none !important;
    border-radius: 0 !important;
    background: var(--color-urlbar-bg) !important;
    color: var(--color-urlbar-fg) !important;
}

#urlbar[breakout][breakout-extend] {
    background: var(--color-urlbar-bg) !important;
    color: var(--color-urlbar-fg) !important;
    border: 1px solid var(--color-active) !important;
}

#urlbar {
    border: none !important;
    border-radius: 0 !important;
    --urlbar-box-bgcolor: #222222 !important;
}

#identity-box:hover {
    background: var(--color-bg) !important;
}

/* }}} */


/* Tighten up drop-down/context/popup menu spacing */
menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}

/* vim: foldmethod=marker
*/
