:root {
    --fontsize: 12px;
    /* --fontsize: 16px; */
    /* --tabsize: 24px; */
    --tabsize: 27px;
    /* --tabwidth: 130px; */
    --tabwidth: 150px;
    --navbarsize: 26px;
    --urlbarsize: 20px;
    --tabbar-offset: 0px;
    --tabtext-offset: 4px;
    --buttonsize: 24px;
    --color-bg: #222222;
    --color-gray: #444444;
    --color-fg: #aaaaaa;
    --color-active: #535D6C;
    --color-fg-active: #ffffff;
    --color-urlbar-bg: #333333;
    --color-urlbar-fg: #bbbbbb;
}

/* Main colors */
#main-window, #browser-bottombox, #urlbar, #nav-bar, #TabsToolbar, #navigator-toolbox, #toolbar-menubar,
#browser-panel, #tab-view-deck, #tabbrowser-tabs, .tabbrowser-arrowscrollbox {
    background: var(--color-bg) !important;
    color: var(--color-fg) !important;
    box-shadow: none !important;
}

/* font */
.tabbrowser-tab .tab-text, #urlbar {
    font-size: var(--fontsize) !important;
}

/* Tabs {{{ */
#TabsToolbar, #tabbrowser-tabs, .tabbrowser-tab, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
    min-height: var(--tabsize) !important;
    max-height: var(--tabsize) !important;
}


/* tab icon/throbber placement */
.tabbrowser-tab:not([pinned]) .tab-icon-image,
.tab-throbber[fadein], .tab-throbber[layer], .tab-throbber[busy], .tab-throbber[progress] {
    /* margin-left: 6px !important; */
    margin-top: -1px !important;
}


/* remove tab separators */
.tabbrowser-tab::before, .tabbrowser-tab::after {
    display: none !important;
}

/* Remove blue line on top of tabs */
.tab-line {
    /* transition: none !important; */
    display: none !important;
}


.tabbrowser-tab {
    background: var(--color-bg) !important;
    min-width: var(--tabwidth) !important;    /* tab width */
}

.tabbrowser-tab:hover {
    background: var(--color-gray) !important;
    color: var(--color-fg-active) !important;
}

.tabbrowser-tab[selected=true] .tab-content {
    background: var(--color-active) !important;
    color: var(--color-fg-active) !important;
}

.tabbrowser-tab .tab-text {
    margin-left: var(--tabtext-offset) !important;
}

/* }}} */



/* navbar {{{ */

#urlbar-container, #nav-bar {
    /* max-height: var(--navbarsize) !important;     /* navbar height */ */
    /* min-height: var(--navbarsize) !important;     /* navbar height */ */
    margin-top: 0px !important;
    border: none !important;
    padding: 0 !important;
}

#urlbar-background {
    border: none !important;
    border-radius: 0 !important;
    background: var(--color-urlbar-bg) !important;
    color: var(--color-urlbar-fg) !important;
    /* margin-top: calc((var(--navbarsize) - var(--urlbarsize)) / 2) !important; */
    /* max-height: var(--urlbarsize) !important; */
    /* min-height: var(--urlbarsize) !important; */
}

#urlbar[breakout][breakout-extend] {
    background: var(--color-urlbar-bg) !important;
    color: var(--color-urlbar-fg) !important;
    border: 1px solid var(--color-active) !important;
}

#urlbar {
    border: none !important;
    border-radius: 0 !important;
}

#identity-box:hover {
    background: var(--color-bg) !important;
}

/* }}} */


/* make some buttons scale properly */
/* #navbar toolbarbutton, #navbar .toolbarbutton-1, #navbar .toolbarbutton-badge-stack { */
/*     max-height: var(--buttonsize) !important; */
/* } */
/*  */
/* #downloads-button { */
/*     min-height: var(--buttonsize) !important; */
/*     max-height: var(--buttonsize) !important; */
/* } */


/* hide alltabs button and tab scroll arrows */
/* the position of this rule in the file actually matters for some reason */
/* #alltabs-button, #tabbrowser-arrowscrollbox::part(scrollbutton-up), #tabbrowser-arrowscrollbox::part(scrollbutton-down) { */
#alltabs-button, #scrollbutton-up, #scrollbutton-down {
    display: none !important;
}



/* vim: foldmethod=marker
*/
