Checks:
  - bugprone-*
  - -bugprone-easily-swappable-parameters
  - cert-*
  - -cert-err58-cpp  # False positives when having const objects in global scope.
  - clang-analyzer-*
  - concurrency-*
  - cppcoreguidelines-*
  - -cppcoreguidelines-init-variables  # Produces false positves when initialization happens later
  - -cppcoreguidelines-avoid-magic-numbers  # This also triggers with literals like 3.1415
  - -cppcoreguidelines-avoid-non-const-global-variables
  - -cppcoreguidelines-avoid-do-while  # Often used in C macros
  - -cppcoreguidelines-pro-type-vararg  # Unavoidable in embedded code
  - -cppcoreguidelines-pro-bounds-array-to-pointer-decay  # Unavoidable in embedded code
  - -cppcoreguidelines-pro-bounds-constant-array-index
  - -cppcoreguidelines-avoid-c-arrays
  - -cppcoreguidelines-owning-memory
  - -cppcoreguidelines-pro-type-reinterpret-cast
  - -cppcoreguidelines-pro-type-union-access
  - -cppcoreguidelines-macro-usage  # False positives
  - -cppcoreguidelines-non-private-member-variables-in-classes
  - -cppcoreguidelines-pro-bounds-pointer-arithmetic  # includes indexing like ptr[i]
  - -cppcoreguidelines-avoid-goto  # Sometimes useful for error handling, especially in C code
  - -cppcoreguidelines-avoid-const-or-ref-data-members  # Sometimes this is desired or irrelevant.
  - misc-*
  - -misc-non-private-member-variables-in-classes
  - -misc-use-anonymous-namespace
  - -misc-include-cleaner
  - -misc-no-recursion
  - performance-*
  - portability-*
  - readability-*
  - -readability-braces-around-statements
  - -readability-uppercase-literal-suffix
  - -readability-magic-numbers  # This also triggers with literals like 3.1415
  - -readability-redundant-access-specifiers
  - -readability-implicit-bool-conversion
  - -readability-function-cognitive-complexity
  - -readability-identifier-length
  - -readability-isolate-declaration
  - -readability-delete-null-pointer  # Allow checking for null before delete for readability
  - -readability-math-missing-parentheses  # Math rules should be known
  - -readability-use-anyofallof  # Not always more readable and sometimes false-positives
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  cppcoreguidelines-special-member-functions.AllowImplicitlyDeletedCopyOrMove: true
  cppcoreguidelines-pro-type-member-init.UseAssignment: true
  performance-move-const-arg.CheckTriviallyCopyableMove: false  # Might be desirable to indicate ownership of pointers
  # It is common to typedef std::shared_ptr as XYZPtr, hence whitelist them as acceptable to pass by value
  performance-unnecessary-value-param.AllowedTypes: Ptr$
  cppcoreguidelines-rvalue-reference-param-not-moved.IgnoreNonDeducedTemplateTypes: true
