#!/bin/sh

xset m 4/3 4 # mouse sensitivity
xset r rate 300 30 # key repeat rate
xset dpms 1800 1800 1800 # set dpms timeout to 30 minutes
xset s off # disable screensaver
setxkbmap de
[ -f ~/.Xmodmap  ] && xmodmap ~.Xmodmap
[ -f ~/.Xresources  ] && xrdb -merge -I$HOME ~/.Xresources
# ~/.screenlayout/normal.sh
# xrandr --dpi 142
